
@media screen and (max-width:486px) {
    .retourBtnDiv {
        width: 90%;
        align-self: center;
    }
}

@media screen and (min-width:485px) and (max-width: 768px) {
    .retourBtnDiv {
        width: 90%;
        align-self: center;
    }
}



.retourBtn {
    display: flex;
    margin-top: 5rem;
    margin-bottom: 2rem;
    background-color: white;
    color: #ef6c00;
    border-radius: 25px ;
    border-style: none;
    padding: 0.5rem;
    
}

.leftArrow {
    font-size: 2rem;
    line-height: 8px;
}