
.panelContentMain {
    display: flex;
    flex-direction: column;
}

.panelContentMain h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
}

.panelContentMain p {
    line-height: 1.25rem;
    margin-bottom: 0.5rem;
}

.ouiNonButtonsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    margin: 1rem 0 0;
    gap: 2rem;
}

.ouiNonButtonDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border: 1px solid lightgray;  
    border-radius: 5px;
    min-width: 180px; 
    background: white;
    width: 100%;
}

.ouiNonButtonDiv:hover {
    cursor: pointer;
    background: rgb(230, 230, 230)
}

.ouiNonButtonDiv img{
    width: 50px;
    height: 50px;
}

.ouiNonButtonDiv p {
    margin-top: 1rem;
}

@media screen and (max-width:486px) {
    .ouiNonButtonDiv {
        min-width: 10px;
        width: 80%;
    }

    .ouiNonButtonsDiv {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width:485px) and (max-width: 768px) {
    .ouiNonButtonDiv {
        min-width: 10px;;
    }
}